@use "src/styles/variables" as vars;

.container {
    position: relative;
    max-width: vars.$content-width-desktop;
    margin: auto;
    border-left: 1px solid vars.$color-outline-a10;
    border-right: 1px solid vars.$color-outline-a10;
    min-height: 1080px;
}

.horizontalDivider {
    position: absolute;
    top: 480px;
    width: 100%;
    border-top: 1px solid vars.$color-outline-a10;
}

.verticalDivider {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: vars.$color-outline-a10;
    left: 0;
    right: 0;
    margin: auto;
}

.heading {
    line-height: 120%;
    position: absolute;
    top: 170px;
    left: 78px;
    max-width: 353px;
    text-align: start;
}

.headingDecoration {
    position: absolute;
    top: 177px;
    height: 120px;
    width: 5px;
    background-image: linear-gradient(
        to bottom,
        vars.$color-primary,
        vars.$color-secondary
    );
}

.years {
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 200px;
    font-weight: bold;
    line-height: 160px;
    letter-spacing: -2%;
    user-select: none;

    .startYear {
        color: vars.$color-primary;
    }

    .endYear {
        color: vars.$color-secondary;
    }
}

.circle {
    position: absolute;
    top: 215px;
    left: 0;
    right: 0;
    margin: auto;
    width: 530px;
    height: 530px;
    border: 1px solid vars.$color-outline-a20;
    border-radius: 50%;
    transform-origin: center center;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 56px;
    height: 56px;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    background-color: tranparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    text-align: center;

    .pointInner {
        position: absolute;
        width: 56px;
        height: 56px;
        transform: scale(0.15);
        transition: transform 0.3s ease-in-out;
    }

    .pointContent {
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: vars.$color-text;
        font-size: 20px;
        line-height: 30px;
        color: vars.$color-text;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s linear;
    }

    &.active,
    &:hover {
        .pointInner {
            transform: scale(1);
        }
        .pointContent {
            background-color: vars.$color-bg;
            border-color: vars.$color-outline-a50;
        }
    }

    &.active {
        .pointTitle {
            color: vars.$color-text;
        }
    }

    .pointTitle {
        color: transparent;
        position: absolute;
        left: 76px;
        font-size: 20px;
        font-weight: bold;
        transition: color 1s ease-in-out;
        pointer-events: none;
    }
}

.sliderContainer {
    position: absolute;
    top: 841px;
    left: 0;
    right: 0;
    margin: auto;

    .slideContent {
        h3 {
            font-family: "Bebas Neue", sans-serif;
            font-size: 25px;
            line-height: 120%;
            font-weight: normal;
            color: vars.$color-accent;
            text-align: start;
            margin-bottom: 15px;
        }
        p {
            font-size: 20px;
            text-align: start;
        }
    }
}

.circleControls {
    position: absolute;
    top: 697px;
    left: 80px;
    width: 120px;
    height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .activePointIndicator {
        text-align: start;
        font-size: 14px;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

@media (max-width: vars.$mobile-width) {
    .container {
        max-width: 100%;
        margin: 0;
        padding: 20px;
        border: none;
        min-height: auto;
    }

    .horizontalDivider,
    .verticalDivider,
    .headingDecoration,
    .circle {
        display: none;
    }

    .heading {
        top: auto;
        left: auto;
        margin-top: 59px;
        max-width: 123px;
        position: static;
        font-size: 20px;
    }

    .years {
        margin-top: 56px;
        position: static;
        font-size: 56px;
        line-height: auto;
    }

    .sliderContainer {
        position: static;

        &::before {
            content: "";
            display: block;
            border-top: 1px solid vars.$color-outline-a20;
            width: 100%;
            margin-top: 57px;
            margin-bottom: 20px;
        }
    }

    .circleControls {
        position: static;
        margin-top: 78px;
        width: fit-content;
        height: auto;
        .buttons {
            gap: 8px;
            margin-top: 10px;
        }
    }
}
