@use "reset";
@use "variables" as vars;
@use 'SwiperStyles';

body {
    background-color: vars.$color-bg;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: vars.$color-text;
}

p {
    letter-spacing: 0%;
    line-height: 30px;
    font-size: 20px;
}

h2 {
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 56px;
    font-weight: bold;
}
