@use "variables" as vars;

button.swiper-button-next-custom,
button.swiper-button-prev-custom {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    top: 41px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(56, 120, 238, 0.1);

    &.disabled {
        opacity: 0;
    }

    svg {
        fill: vars.$color-accent;
        transform: scale(0.85);
    }

    @media (max-width: vars.$mobile-width) {
        display: none;
    }
}

button.swiper-button-next-custom:hover,
button.swiper-button-prev-custom:hover {
    background-color: #e0e0e0;
}
button.swiper-button-prev-custom {
    left: 20px;
}

button.swiper-button-next-custom {
    right: 20px;
}

.swiper-pagination {
    display: none;

    @media (max-width: vars.$mobile-width) {
        display: block;
    }
    .swiper-pagination-bullet {
        background-color: vars.$color-text;
        margin: 0 10px; 
    }
}
