// Base Colors
$color-text: #42567A;
$color-bg: #F4F5F9;

// Functional Colors
$color-primary: #5D5FEF;
$color-secondary: #EF5DA8;
$color-accent: #3877EE;

// Outlines
$color-outline-a10: rgba(66, 86, 122, 0.1);
$color-outline-a20: rgba(66, 86, 122, 0.2);
$color-outline-a50: rgba(66, 86, 122, 0.5);

// Sizing
$content-width-desktop: 1440px;
$mobile-width: 480px;