// Base Colors
$color-text: #42567A;
$color-bg: #F4F5F9;

// Functional Colors
$color-primary: #5D5FEF;
$color-secondary: #EF5DA8;
$color-accent: #3877EE;

// Outlines
$color-outline-a10: #42567a10;
$color-outline-a20: #42567a20;
$color-outline-a50: #42567a50;

// Sizing
$content-width-desktop: 1440px;